{% extends "base.html" %}
{% block content %}
<div class="author-page author-page--{{ author_key }}">
  <h1>{{ author.name }}</h1>
  <div class="author-bio">{{ author.bio_html | safe }}</div>

  <h2>Posts</h2>
  {% if posts %}
  <ul class="post-list">
    {% for post in posts %}
    <li>
      <a href="/{{ post.slug }}/">
        <span class="post-title">{{ post.title }}</span>
        <span class="post-meta">
          <time datetime="{{ post.date }}">{{ post.date_human }}</time>
        </span>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="empty">Nothing yet.</p>
  {% endif %}

  <p class="rss-link"><a href="/{{ author_key }}/feed.xml">RSS feed for {{ author.name }}</a></p>
</div>
{% endblock %}
